/* @media (min-width:768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .dl-horizontal dd {
        margin-left: 180px
    }
} */

/* Style the gallery */

#gallery {
  margin-top: 50px;
}

#gallery img{
  width:100%;
  margin-bottom: 20px;
}

body {
  padding-top: 50px;
}
.starter-template {

  padding-bottom: 100px 15px;
  text-align: center;
}

.carousel-caption {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 50px;
}

.carousel {
  height: 100%;

}

.dropdown-toggle {
  background-color: black ;
}

/* .carousel {
  height: 500px;
  background-color: #D8BFD8 ;
  text-decoration-color: White;
} */

.btn {
  font-weight: bold;
  padding: 10px;
  background-color: transparent ;
  border-color: White;
}
#one {
  margin-top: 20px;
}
#two {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  margin-left: 100px;
}
.row {
  margin-top: 10px;
}

.aboutme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
p5 {
  font-family: "Arial" monospace;
  font-weight: 300;
  font-size: 16px;
  color: Black;
  line-height: 30px
}
p6 {
  font-family: "Arial" monospace;
  font-weight: bold;
  font-size: 18px;
}


body{
	width:100%;
	height:100%;
}

h1,h2,h3 {
	margin:0 0 35px 0;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}

a{
  border-color: black;
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}


.contact-section{
  padding-top: 100px;
	background-color:white;
	color: black;
	padding-bottom:80px;

}

textarea.form-control{
    height:100px;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
