body {
  padding-top: 20px;
  padding-bottom: 20px;

}

.navbar {
  margin-bottom: 20px;
  background-color: #000000;
  color: black;
  font-family: : Roboto Condensed;
}

li {
  color:white;
}
.dropdown-menu {
  background-color: black ;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 6px 20px black;
  color: white;
}
